body {
	background-color: #F7F7F7;
}

a {
	color: #D94546;
	text-decoration: none;
}

h3 a {
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #ac2324;
}

.page-content {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
}

h1 {
	text-align: center;
}

.pic {
	height: auto;
	width: 100%;
}

.project {
	margin-top: 0.5em;
}

.project h3 {
	margin-top: 0;
}

.contact {
	/*margin-top: 1em;*/
	margin: 2em 0;
	padding-left: 0;
}

.contact li, .contact h2 {
	list-style-type: none;
	display: inline;
	padding-right: 5px;
}

.top {
	background: url('/assets/me.jpg') 50% 0%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: auto;
}

#hi {
	font-size: 4em;
	font-weight: 700;
}

#isaac {
	font-size: 6vmax;
	font-weight: 600;
	padding-top: 10%;
	text-align: center;
	width: 100%;
}
