
body {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.pic {
	background-image: url("/assets/photo.JPG");
	width: 300px;
	height: auto;
	/*background-size: cover;*/
}

h1 {
	font-family: oxygen;
	font-weight: bold;
	font-size: 200%;
}

.title {
	font-family: oxygen;
	font-weight: bold;
	font-size: 400%;
	margin-bottom: 0.5em;
}


.page-content {
}

.about {
	/**/
	/*background-attachment: fixed;*/
	/*background-position: center;*/
	text-align: center;
	font-weight: bold;
	/*text-indent: 900px;*/
	/*height: 560px;*/
	opacity: 0.6;
	/*background-color: black;*/
	vertical-align: middle;
	display: table-cell;
	/*box-shadow: 2px;*/
}

.about {
	margin-bottom: 5em;
}

.links {
	margin-top: 10em;
}
