---
title: Isaac Rosenberg
---

<h1 class="me">Isaac Rosenberg</h1>

<p class="bio">
	Last summer I was an intern at <a href="http://flatironschool.com" rel="The Flatiron School">The Flatiron School</a>. You may recognize me from the <a href="http://code.org">Code.org</a> video that was on the front page of Google in December.  
</p>