---
title: Isaac Rosenberg
---

<h1 class="me">Isaac Rosenberg</h1>

<p class="bio">
	Former intern at <a href="http://flatironschool.com" rel="The Flatiron School">The Flatiron School</a>. I was in the <a href="http://code.org">Code.org</a> video on the front page of Google in December. I love Ruby, drumming, and building things. Currently I am a high school senior (ew). 
</p>

<h2>Places</h2>
<p>You can probably find me wondering around these places:</p>

<ul class="links">
	<li class="quora"><a href="http://quora.com/Isaac-Rosenberg-1">Quora</a></li>
	<li class="twitter"><a href="http://twitter.com/irosenb">Twitter</a></li>
	<li class="github"><a href="http://github.com/irosenb">Github</a></li>
	<li class="blog"><a href="http://blog.irosenb.com">Blog</a></li>
	<li class="Email"><a href="mailto:irosenb7@gmail.com">Email</a></li>
</ul>

	