---
title: Isaac Rosenberg
---

<h1 class="me">Isaac Rosenberg</h1>

<p class="bio">
	Last summer I was an intern at <a href="http://flatironschool.com" rel="The Flatiron School">The Flatiron School</a>. You may recognize me from the <a href="http://code.org">Code.org</a> video that was on the front page of Google in December. I love Ruby, drumming, and building things.
</p>

<ul class="links">
	<li class="quora"><a href="http://quora.com/irosenb">Quora</a></li>
	<li class="twitter"><a href="http://twitter.com/irosenb">Twitter</a></li>
	<li class="github"><a href="http://github.com/irosenb">Github</a></li>
	<li class="blog"><a href="http://blog.irosenb.com">Blog</a></li>
</ul>

<!-- <h3 class="quora"><a href="http://quora.com/irosenb">Quora</a></h3>
<h3 class="twitter"><a href="http://twitter.com/irosenb">Twitter</a></h3>
<h3 class="github"><a href="http://github.com/irosenb">Github</a></h3>
<h3 class="blog"><a href="http://blog.irosenb.com">Blog</a></h3> -->